body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	font-size: 48px;
	text-align: center;
}

.tab {
	width: 450px;
	padding: 20px;
	background-color: black;
	border-radius: 7px;
}
.tab__body {
	
}
.tab__content {
	position: relative;
}
.tab_img {
	width: 100%;
	border-radius:10px;
}
.tab_text {
	width: 100%;
	position: absolute;
	top: 0px;
	font-size: 32px;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
	padding: 7px;
}
.tab__header {
}
.tab__items {
	padding: 0;
	margin: 0;
	margin-top: 15px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.tab__item {
	background-color: royalblue;
	opacity: 0.6;
	padding: 7px;
	border-radius: 3px;
	color: white;
	cursor: pointer;

	transition: all 0.3s ease;
}

.tab__item:hover {
	color:royalblue;
	background: #fff;
}

.active {
	opacity: 1;
}

.hide {
	display: none;
}

.animation {
	animation-name: anime;
	animation-duration: 0.9s;
	animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes anime {
	to {
		opacity: 0.5;
		transform: scale(1);
	}
	from {
		opacity: 1;
		transform: scale(0) rotateX(-720deg);
	}
}